
<?xml version="1.0"?>
<robot name="physics">
  <link name="back">
    <visual>
      <geometry>
        <box size="1.0 0.5 0.1" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="blue">
        <color rgba="1.0 1.0 1.0 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 0.5 0.1" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
    <inertial>
      <mass value="1.0" />
      <inertia ixx="0.021666666666666667" ixy="0.0" ixz="0.0" iyy="0.08416666666666667" iyz="0.0" izz="0.10416666666666666"/>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
  </link>
</robot>
