
<?xml version="1.0"?>
<robot name="physics">
  <link name="handle">
    <visual>
      <geometry>
        <cylinder radius="0.2" length="2.0" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <material name="blue">
        <color rgba="1.0 1.0 1.0 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.2" length="2.0" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </collision>
    <inertial>
      <mass value="1.0" />
      <inertia ixx="0.3433333333333333" ixy="0.0" ixz="0.0" iyy="0.3433333333333333" iyz="0.0" izz="0.020000000000000004"/>
      <origin rpy="0 0 0" xyz="0 0 0" />
    </inertial>
  </link>
  <link name="bar">
    <visual>
      <geometry>
        <cylinder radius="0.2" length="1.0" />
      </geometry>
      <origin rpy="1.5707 0 0" xyz="0 0.5 0" />
      <material name="blue">
        <color rgba="1.0 1.0 1.0 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.2" length="1.0" />
      </geometry>
      <origin rpy="1.5707 0 0" xyz="0 0.5 0" />
    </collision>
    <inertial>
      <mass value="1.0" />
      <inertia ixx="0.09333333333333334" ixy="0.0" ixz="0.0" iyy="0.09333333333333334" iyz="0.0" izz="0.020000000000000004"/>
      <origin rpy="1.5707 0 0" xyz="0 0.5 0" />
    </inertial>
  </link>
  <joint name="joint" type="fixed">
    <parent link="handle" />
    <child link="bar" />
    <origin xyz="0 0 0" />
  </joint>
</robot>
